@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* html {
  width: 100vw !important;
} */

body {
  background-color: #f1f1f1;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.not_active {
  border: 0;
  background-color: transparent;
}

.active {
  background-color: #081e341f;
  border: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
}

.left_header {
  display: flex;
  gap: 10px;
}

.right_header {
  display: flex;
  gap: 20px;
}

.container {
  width: 100%;
  padding: 100px 40px;
  display: flex;
  gap: 130px;
}
.main_text {
  font-weight: 700;
  font-size: 54px;
  font-family: 'Kanit', sans-serif;
  line-height: 1.1;
}

.description_text {
  font-weight: 500;
  font-size: 16px;
}

.main_btn {
  background-color: #712fff;
  color: white;
  border-radius: 100px;
  border: 0;
  padding: 16px 24px 16px 24px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  width: fit-content;
}

.left_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  margin-left: 40px;
}

.right_content {
  height: 458px;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 40px;
}

.main_image {
  width: 687px;
  height: 458px;
  border-radius: 50px;
}

.dollar_image {
  position: absolute;
  left: 250px;
}

.fire_image {
  position: absolute;
  left: 500px;
  bottom: 0;
}

.page_2 {
  background-color: #e1dee7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 32px;
  padding: 100px 40px;
  width: 100%;
}

.how_it_works {
  font-size: 54px;
  font-family: 'Kanit', sans-serif;
}

.page_2_Lorem_text {
  padding-bottom: 20px;
}

.page_2_content {
  display: flex;
  flex-direction: row;
  gap: 54px;
  margin-top: 64px;
  width: 100%;
  justify-content: space-around;
}

.page_2_content_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

.find_job_button {
  border-radius: 100px;
  border: none;
  background-color: #712fff;
  color: white;
  padding: 16px 24px 16px 24px;
}
.find_job_button:hover {
  background-color: #9874e7;
}
.find_job_button:active {
  background-color: #440dbc;
}

.page_3 {
  display: flex;
  flex-direction: column;
  padding: 100px 40px;
  gap: 24px;
}

.page_3_text {
  font-family: 'Kanit', sans-serif;
  font-size: 54px;
}

.job_input {
  width: 620px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #e1dee7;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.job_input::placeholder {
  color: #000000;
  opacity: 20%;
}

.input {
  display: flex;
  gap: 40px;
  align-items: center;
}

.search {
  position: absolute;
  left: 54px;
}

.page_4 {
  width: 100%;
  padding: 100px 40px;
  display: flex;
  gap: 80px;
}
/* .main_text {
  font-weight: 700;
  font-size: 54px;
  font-family: 'Kanit', sans-serif;
  line-height: 1.1;
} */

.upload_cv {
  font-weight: 700;
  font-size: 54px;
  font-family: 'Kanit', sans-serif;
  line-height: 1.1;
  padding-bottom: 20px;
}

.description_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}

.upload_btn {
  background-color: #712fff;
  color: white;
  border-radius: 100px;
  border: 0;
  padding: 16px 24px 16px 24px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.left_content {
  gap: 48px;
  margin-left: 40px;
}

.right_content {
  height: 458px;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_page4 {
  width: 687px;
  height: 458px;
  border-radius: 50px;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 78px;
  padding-left: 40px;
  background-color: #ffffff;
  padding-top: 40px;
  border-radius: 32px 32px 0px 0px;
}

.footer_text {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-left: 40px;
}

.footer_logo {
  display: flex;
  gap: 20px;
}

.credits {
  color: #081e34;
  opacity: 50%;
}

.made_with {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

@media only screen and (max-width: 400px) {
  .not_active {
    display: none;
  }

  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 30px 20px;
    width: unset;
  }

  .left_content {
    margin: 0;
    align-items: center;
    gap: 28px;
  }
  .right_content {
    margin: 0;
    height: unset;
  }

  .main_text {
    padding: 0 50px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: center;
  }
  .description_text {
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0cm;
    text-align: center;
  }

  .main_image {
    width: 350px;
    height: 210px;
  }
  .dollar_image {
    height: 93px;
    width: 73px;
    position: absolute;
    top: 10px;
    left: 130px;
  }
  .fire_image {
    height: 99px;
    width: 85px;
    position: absolute;
    left: 250px;
    bottom: 5px;
  }

  .page_2 {
    padding: 54px 20px;
    width: unset;
  }
  .page_2_Lorem_text {
    font-weight: 400;
    font-size: 12px;
  }

  .how_it_works {
    font-size: 32px;
  }
  .page_2_content {
    flex-direction: column;
    align-self: flex-start;
    width: unset;
    gap: 32px;
  }
  .page_2_content_item {
    gap: 14px;
  }

  .icon {
    width: 42px;
    height: 42px;
  }

  .page_3 {
    padding: 54px 20px;
    text-align: center;
  }

  .page_3_text {
    font-size: 24px;
    line-height: 28.8px;
  }

  .page_3 p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
  .input {
    flex-direction: column;
    gap: 30px;
  }
  .job_input {
    width: 100%;
    padding: 0;
  }
  .search {
    display: none;
  }

  .page_4 {
    width: unset;
    padding: 54px 20px;
    flex-direction: column;
    text-align: left;
  }

  .page_4 .left_content {
    gap: 0;
    align-items: left;
    width: min-content;
  }
  .page_4 .description_text {
    padding: 0;
    text-align: left;
  }

  .upload_cv {
    font-size: 24px;
  }
  .image_page4 {
    width: 352px;
    height: 232px;
  }

  .footer {
    /* flex-direction: column; */
    padding: 54px 20px;
    gap: 40px;
  }
  .footer_text {
    padding: 0;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }

  .footer_logo {
    flex-direction: column;
  }

  .footer_logo img {
    width: 24px;
    height: 24px;
  }

  .credits {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .made_with {
    margin: 0;
    padding: 20px 20px;
    justify-content: flex-start;
  }
}
